<h1>You should clap for</h1>
<h2><%= hours %> hours and <%= minutes %> minutes</h2>

<p>As of <%= date %>, <%= total_deaths %> people have been killed by COVID-19 in the United Kingdom.</p>
<p>If you were to clap once in rememberance of each person, it would take you <%= hours %> hours and <%= minutes %> minutes to finish.</p>